
<!-- ########################### Candidate ############################################ -->

<% if (user.role == "candidate") { %>

    <div class="d-flex justify-content-between ">
        <div>
            <h1 class="mt-4">Dashboard</h1>
            <p class="lead mb-3">Welcome <%= user.name %>
            </p>
        </div>
    
        <div class="d-flex justify-content-end align-items-center">
            <!-- <a href="#" class="btn btn-secondary" style="margin-right: 10px;">Applied</a> -->
            <a href="users/logout" class="btn btn-secondary">Logout</a>
        </div>
    </div>

    <!-- <h5> <%= user.role %>
    </h5> -->

    <!-- ###################### Candidate Open Job Tab ############################### -->

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#openJobs">Open Jobs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#appliedJob">Applied Job</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#">Disabled</a>
        </li> -->
    </ul>

    <div id="myTabContent" class="tab-content">

        <!-- ###################### Candidate Jobs Available Tab ############################### -->

        <div class="tab-pane fade active show" id="openJobs">
    
            <table class="table table-hover">
                <tr class="table-info">
                    <th>Company Name</th>
                    <th>Job Role</th>
                    <th>Skills</th>
                    <th>Job Type</th>
                    <th>Experience</th>
                    <th>Date of Post</th>
                </tr>
                <% jobNotAppliedCandidateList.forEach((item)=>{ %>                   
    
                    <!--  -->
                    <% if (JSON.stringify(item.status) == "false" ) { %>
                        
                        <tr>
                            <td>
                                <%= item.companyName %>
                            </td>
                            <td>
                                <%= item.jobRole %>
                            </td>
                            <td>
                                <%= item.skills %>
                            </td>
                            <td>
                                <%= item.jobType %>
                            </td>
                            <td>
                                <%= item.experience %>
                            </td>
                            <td>
                                <% datePostString=JSON.stringify(item.datePosted).slice(1,11) %>
                                <% datePost=datePostString.split("-").reverse().join("/") %>
                                <%= datePost %>
                            </td>
                            <td>
                                            <!-- Job Application Form -->
                                            <form action="employer/application" method="POST">
                                                <input type="hidden" id="itemIdApp" name="itemIdApp" value="<%= item._id %>">
                                                <input type="hidden" id="userIdApp" name="userIdApp" value="<%= user._id %>">
                                                <button type="submit" class="btn btn-info" style="margin: 10dp;"
                                                    data-toggle="tooltip" data-placement="right" title="Apply">
                                                    Apply
                                                </button>
                                            </form>
                                            <!-- Job Application Form -->
    
                            </td>
                        </tr>
                        <% } else { %>
    
                            <% } %>
                                <!--  -->
    
                                <% }) %>

                                
            </table>
    
        </div>
    
    
    
        <!-- ###################### Candidate Applied Job Tab ############################### -->
    
        <div class="tab-pane fade " id="appliedJob">
            <table class="table table-hover">
                <tr class="table-info">
                    <th>Company Name</th>
                    <th>Job Role</th>
                    <th>Skills</th>
                    <th>Job Type</th>
                    <th>Experience</th>
                    <th>Date of Post</th>
                    <th>Status</th>
                </tr>

                    <!-- ##################### Applied Jobs  ######################## -->

                <% jobAppliedCandidateList.forEach((item)=>{ %>
            
                    <!--  -->
                        <tr>
                            <td>
                                <%= item.companyName %>
                            </td>
                            <td>
                                <%= item.jobRole %>
                            </td>
                            <td>
                                <%= item.skills %>
                            </td>
                            <td>
                                <%= item.jobType %>
                            </td>
                            <td>
                                <%= item.experience %>
                            </td>
                            <td>
                                <% datePostString=JSON.stringify(item.datePosted).slice(1,11) %>
                                <% datePost=datePostString.split("-").reverse().join("/") %>
                                <%= datePost %>
                            </td>
                            <td>
                                <% if (JSON.stringify(item.status)=="false" ) { %>
                                    <button class="btn btn-outline-warning">
                                        Pending
                                    </button>

                                    <% } else { %>

                                            <% item.selected.forEach((itemSelected)=>{ %>
                                                <% if (JSON.stringify(itemSelected) === JSON.stringify(user._id)) { %>
                                                    <button class="btn btn-outline-success">
                                                        Selected
                                                    </button>
                                                <% } %>
                                            <% }) %>
                                            <% jobRejectedCandidateList.forEach((itemRejected)=>{ %>
                                                <% if (JSON.stringify(itemRejected)===JSON.stringify(user._id)) { %>
                                                    <button class="btn btn-outline-danger">
                                                        Rejected
                                                    </button>
                                                <% } %>
                                            <% }) %>
                                        <% } %>
                                        
                            </td>
                            <td>

                                <!-- Job Application Delete Form -->
                                <form action="employer/application/delete" method="POST">
                                    <input type="hidden" id="itemIdAppDel" name="itemIdAppDel" value="<%= item._id %>">
                                    <input type="hidden" id="userIdAppDel" name="userIdAppDel" value="<%= user._id %>">
                                    <button type="submit" class="btn btn-danger" style="margin: 10dp;" data-toggle="tooltip" data-placement="right"
                                        title="Delete">
                                        X
                                    </button>
                                </form>
                                <!-- Job Application Delete Form -->

                            </td>
                        </tr>
                                <!--  -->
                            <% }) %>


                                <!-- ##################### Selected Jobs  ######################## -->
<% jobSelectedCandidateList.forEach((item)=>{ %>

    <!--  -->
    <tr>
        <td>
            <%= item.companyName %>
        </td>
        <td>
            <%= item.jobRole %>
        </td>
        <td>
            <%= item.skills %>
        </td>
        <td>
            <%= item.jobType %>
        </td>
        <td>
            <%= item.experience %>
        </td>
        <td>
            <% datePostString=JSON.stringify(item.datePosted).slice(1,11) %>
            <% datePost=datePostString.split("-").reverse().join("/") %>
            <%= datePost %>
        </td>
        <td> 
            <button class="btn btn-outline-success">
                Selected
            </button>
        </td>
    </tr>

    <% }) %>

                        <!-- ##################### Rejected Jobs  ######################## -->

<% jobRejectedCandidateList.forEach((item)=>{ %>

    <!--  -->
    <tr>
        <td>
            <%= item.companyName %>
        </td>
        <td>
            <%= item.jobRole %>
        </td>
        <td>
            <%= item.skills %>
        </td>
        <td>
            <%= item.jobType %>
        </td>
        <td>
            <%= item.experience %>
        </td>
        <td>
            <% datePostString=JSON.stringify(item.datePosted).slice(1,11) %>
            <% datePost=datePostString.split("-").reverse().join("/") %>
            <%= datePost %>
        </td>
        <td>
            <button class="btn btn-outline-danger">
                Rejected
            </button>
        </td>
    </tr>

    <% }) %>


    <!-- ##################################################  -->
            </table>
        </div>
    </div>
    <!-- ##################################################  -->


        

<!-- ########################### Employer ############################################ -->

    <% } else { %>

        <div class="d-flex justify-content-between ">
            <div>
                <h1 class="mt-4">Dashboard</h1>
                <p class="lead mb-3">Welcome <%= user.name %>
                </p>
            </div>
        
            <div class="d-flex justify-content-end align-items-center">
                <!-- <a href="employer" class="btn btn-secondary" style="margin-right: 10px;">Create Job</a> -->
                <a href="users/logout" class="btn btn-secondary">Logout</a>
            </div>
        </div>

        <!-- <h1> <%= user.role %>
        </h1> -->

<!-- ###################### Employer Tab Starts ############################### -->

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#pendingJob">Pending Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#createJob">Create Job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#applicants">Applicants</a>
            </li>
        </ul>

        <!-- ###################### Employer Pending Job Tab ############################### -->
        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade active show" id="pendingJob">
               
                <table class="table table-hover">
                    <tr class="table-info">
                        <th>Company Name</th>
                        <th>Job Role</th>
                        <th>Skills</th>
                        <th>Job Type</th>
                        <th>Experience</th>
                        <th>Date of Post</th>
                        <th>Status</th>
                    </tr>

                    <% jobCreatedEmployerList.forEach((item)=>{ %>
                        <% if (JSON.stringify(item.status)=="false" ) { %>
<!--  -->
                                <tr>
                                    <td>
                                        <%= item.companyName %>
                                    </td>
                                    <td>
                                        <%= item.jobRole %>
                                    </td>
                                    <td>
                                        <%= item.skills %>
                                    </td>
                                    <td>
                                        <%= item.jobType %>
                                    </td>
                                    <td>
                                        <%= item.experience %>
                                    </td>
                                    <td>
                                        <% datePostString = JSON.stringify(item.datePosted).slice(1,11) %>
                                        <% datePost = datePostString.split("-").reverse().join("/") %>
                                        <%= datePost %>
                                    </td>
                                    <td>
                                        <% if (JSON.stringify(item.status) == "false") { %>
                                            <button class="btn btn-outline-warning">
                                                Pending
                                            </button>
                                        <% } else { %>
                                            <button class="btn btn-outline-success">
                                                Closed
                                            </button>
                                            <% } %>
                                    </td>
                                    <td>
                                            <!-- Job Delete Form -->
                                            <form action="employer/post/delete" method="POST">
                                            <input type="hidden" id="itemId" name="itemId" value="<%= item._id %>">
                                            <button type="submit" class="btn btn-danger" style="margin: 10dp;"
                                            data-toggle="tooltip" data-placement="right" title="Delete">
                                                X
                                            </button>
                                            </form>
                                            <!-- Job Delete Form -->

                                    </td>
                                </tr>
<!--  -->
                            <% } %>
                        <% }) %>
                        
                        
                </table>

                <% if (JSON.stringify(jobCreatedEmployerList)=="[]" ) { %>
                    <div class="card bg-secondary mb-3 " style="max-width: 20rem;">
                        <div class="card-header">NO JOBS CREATED</div>
                        <div class="card-body">
                            <h4 class="card-title"></h4>
                            <p class="card-text">Please go to the the Tab-> "Create Job" to Create job.</p>
                        </div>
                    </div>
                <% } %>
                
            
            </div>



<!-- ###################### Employer Create Job Tab ############################### -->

            <div class="tab-pane fade" id="createJob">
                <form class = "col-md-9" action="employer/post" method="POST">
                    <fieldset>
                        <div class="form-group">
                            <label for="companyName" class="form-label mt-4">Company Name</label>
                            <input type="" class="form-control" id="companyName" name="companyName" aria-describedby="companyNameHelp"
                                placeholder="Enter Company Name">
                            <small id="companyNameHelp" class="form-text text-muted">Enter the name of recruiter Company</small>
                        </div>
                        <div class="form-group">
                            <label for="jobRole" class="form-label mt-4">Job Role</label>
                            <input type="" class="form-control" id="jobRole" name="jobRole" aria-describedby="jobRoleHelp"
                                placeholder="Enter Job Role">
                            <small id="jobRoleHelp" class="form-text text-muted">Enter the designation offered to the candidate</small>
                        </div>
                        <div class="form-group">
                            <label for="skills" class="form-label mt-4">Skills Required</label>
                            <textarea class="form-control" id="skills" name="skills" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="jobType" class="form-label mt-4">Job Type</label>
                            <select class="form-select" id="jobType" name="jobType">
                                <option>Permanent</option>
                                <option>Part-Time</option>
                                <option>Internship</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="experience" class="form-label mt-4">Experience Required</label>
                            <input type="" class="form-control" id="experience" name="experience" aria-describedby="experienceHelp"
                                placeholder="Experience Required">
                            <small id="experienceHelp" class="form-text text-muted">Enter the experience required for the role</small>
                        </div>
                        <input type="hidden" id="userId" name="userId" value="<%= user._id %>">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
            <br>
            <br>
        

                <!-- ###################### Employer Job Applicants Tab ############################### -->
                
                    <div class="tab-pane fade" id="applicants">
                <!--##################################################################################################  -->
                       
                <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"></div>
                                <table class="table table-responsive table-hover">
                                    <tbody>
                                    <thead>
                                        <tr class="table-info">
                                            <th>Company Name</th>
                                            <th>Job Role</th>
                                            <th>Skills</th>
                                            <th>Job Type</th>
                                            <th>Experience</th>
                                            <th>Date of Post</th>
                                            <th>Status</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </tbody>
                                        <% jobCreatedEmployerList.forEach((item)=>{ %>
<!--To toggle from the table row -->            <tr  id=<%= item.companyName %> >  
                                                <td>
                                                    <%= item.companyName %>
                                                </td>
                                                <td>
                                                    <%= item.jobRole %>
                                                </td>
                                                <td>
                                                    <%= item.skills %>
                                                </td>
                                                <td>
                                                    <%= item.jobType %>
                                                </td>
                                                <td>
                                                    <%= item.experience %>
                                                </td>
                                                <td>
                                                    <% datePostString=JSON.stringify(item.datePosted).slice(1,11) %>
                                                    <% datePost=datePostString.split("-").reverse().join("/") %>
                                                    <%= datePost %>
                                                </td>
                                                <td>
                                                    <% if (JSON.stringify(item.status)=="false" ) { %>
                                                        <button class="btn btn-outline-warning">
                                                            Pending
                                                        </button>
                                                        <% } else { %>
                                                        <button class="btn btn-outline-success">
                                                            Closed
                                                        </button>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <button class="btn btn-info" data-toggle="collapse" data-target=.<%= item.companyName %> >Applications Received</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-info" data-toggle = "modal" 
                                                    data-target=#<%= item.companyName %> >Selected Candidates</button>
                                                </td>
                                                <td>
                                                    <!-- Application Close Form -->
                                                    <form action="employer/post/close" method="POST">
                                                        <input type="hidden" id="itemIdClose" name="itemIdClose" value="<%= item._id %>">
                                                        <button type="submit" class="btn btn-success" style="margin: 10dp;" data-toggle="tooltip" data-placement="right"
                                                            title="Close Application">
                                                            <span>&#10003;</span>
                                                        </button>
                                                    </form>
                                                    <!-- Application Close Form -->
                                                </td>
                                                <td>
                                                    <!-- Application Delete Form -->
                                                    <form action="employer/post/delete" method="POST">
                                                        <input type="hidden" id="itemId" name="itemId" value="<%= item._id %>">
                                                        <button type="submit" class="btn btn-danger" style="margin: 10dp;" data-toggle="tooltip" data-placement="right"
                                                            title="Delete">
                                                            X
                                                        </button>
                                                    </form>
                                                    <!-- Application Delete Form -->

                                                </td>
                                            </tr>
                                            
                                            <tr class="collapse <%= item.companyName %>">
                                                <td colspan="999">
                                                    <div>
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Applicant</th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>

                                                                <% if (JSON.stringify(item.applicant)=="[]" ) { %>
                                                                    <div class="card bg-secondary mb-3 " style="max-width: 20rem;">
                                                                        <div class="card-header">NO APPLICATION RECEIVED</div>
                                                                        <div class="card-body">
                                                                            <h4 class="card-title"></h4>
                                                                            <p class="card-text"> Candidates have not applied for the job. Please wait for the applications.</p>
                                                                        </div>
                                                                    </div>
                                                                <% } %>

                                                            </thead>
                                                            
                                                            <% item.applicant.forEach((arrayItem)=>{ %>
                                                                <% usersList.forEach((userItem)=>{ %>
                                                                    <% if (JSON.stringify(userItem._id)===JSON.stringify(arrayItem)) { %>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <%= userItem.name %>
                                                                                </td>
                                                                                <td style="text-align: end;">
                                                                                    <!-- Application Accept Form -->
                                                                                    <form action="employer/post/select" method="POST">
                                                                                        <input type="hidden" id="itemIdSelect" name="itemIdSelect" value="<%= item._id %>">
                                                                                        <input type="hidden" id="userIdSelect" name="userIdSelect" value="<%= userItem._id %>">
                                                                                        <button type="submit" class="btn btn-info" style="margin: 10dp;" data-toggle="tooltip" data-placement="right"
                                                                                            title="Select">
                                                                                            Select
                                                                                        </button>
                                                                                    </form>
                                                                                    <!-- Application Accept Form -->
                                                                                </td>
                                                                                <td>
                                                                                    <!-- Application Reject Form -->
                                                                                    <form action="employer/post/reject" method="POST">
                                                                                        <input type="hidden" id="itemIdReject" name="itemIdReject" value="<%= item._id %>">
                                                                                        <input type="hidden" id="userIdReject" name="userIdReject" value="<%= userItem._id %>">
                                                                                        <button type="submit" class="btn btn-danger" style="margin: 10dp;" data-toggle="tooltip" data-placement="right"
                                                                                            title="Select">
                                                                                            Reject
                                                                                        </button>
                                                                                    </form>
                                                                                    <!-- Application Reject Form -->
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <% } %>
                                                                     <% }) %>
                                                                <% }) %>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
<!-- ############################### Modal Selected Candidates ############################################ -->



<!-- Button trigger modal -->
<!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id=<%= item.companyName %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Selected Candidates</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
            </div>
            <div class="modal-body flex-direction: column">

                    <% if (JSON.stringify(item.selected)== "[]") { %>
                            <div class="card bg-secondary mb-3 " style="max-width: 20rem;">
                                <div class="card-header">NO APPLICATION SELECTED</div>
                                <div class="card-body">
                                    <h4 class="card-title"></h4>
                                    <p class="card-text"> Please click the Tab-> "Application Received" and select the matching candidate to the requirements </p>
                                </div>
                            </div>
                    <% } %>
                
                    <% item.selected.forEach((arrayItem)=>{ %>
                        <% usersList.forEach((userItem)=>{ %>
                            <% if (JSON.stringify(userItem._id)===JSON.stringify(arrayItem)) { %>
                            <button class="btn btn-outline-info" style="width: 60%; margin: 10px">
                            <%= userItem.name %>
                            </button>
                            <% } %>
                        <% })%>
                    <% })%>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>




<!-- ############################### Modal Selected Candidates ############################################ -->
                                    <% }) %>
                            </div>
                        </div>
    
<!-- ##################################################################################### -->

<!-- <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">ASDFASDFASDFASDF</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">ASDFASDFASDFASDF</div>
        </div>
    </div>
</div> -->

<!-- <div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->


<!-- Button trigger modal -->
<!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->


<!-- ##################################################################################### -->


                
                    </div>
                </div>

        <% } %>