
<!-- ########################################################################## -->
<br>

<a href="/signup">
<button class="btn btn-light">
    Login
</button>
</a>

<br>
<br>
<table class="table table-hover">
  <tr class="table-info">
    <th>Company Name</th>
    <th>Job Role</th>
    <th>Skills</th>
    <th>Job Type</th>
    <th>Experience</th>
    <th>Date of Post</th>
  </tr>
  <% newJobItems.forEach((item)=>{ %>
  <tr >
    <td><%= item.companyName %></td>
    <td><%= item.jobRole %></td>
    <td><%= item.skills %></td>
    <td> <%= item.jobType %> </td>
    <td> <%= item.experience %> </td>
    <td> 
        <% datePostString=JSON.stringify(item.datePosted).slice(1,11) %>
        <% datePost=datePostString.split("-").reverse().join("/") %>
        <%= datePost %>
    </td>
    <td>
      <a href="/signup">
        <button class="btn btn-light">
            Apply
        </button>
      </a>
    </td>
  </tr>
  <% }) %>
</table>